html {
    width: 100% !important;
}

* {
    box-sizing: border-box;
}
  
.no-style {
    text-decoration: inherit;
}

#navBar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 90%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

    #navBar a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    #navBar a.active {
    background-color: #04AA6D;
    color: white;
    }

    #navBar a:hover:not(.active) {
    background-color: #555;
    color: white;
    }

#main {
    margin-left: 25%; /* Same as the width of the sidebar */
    padding-left: 20px; /* top - left */
    top: 10%;
    height: 80%;
}


#log {
    top: 0;
    position: absolute;
    float: right
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 10%;
    width: 100%;
    padding: 10px;
    background-color: grey;
}


@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 600px) {
  

}
