/* GENERAL STUFF */

html {
    width: 100% !important;
    font-family: "Lucida Sans", sans-serif;
    background-color: #d8dbe2;

}

* {
    box-sizing: border-box;
    margin: 0px;
}

/* GRID */

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}


/* HEADER */

.header {
    background-color: #1c3144;
    color: #ffffff;
    padding: 10px;
    position: fixed;
	/* editED, AS YOUR HEADER POSITION IS FIXED, HIGHT HAS TO BE DEFINED  */
	height:120px;
	z-index:100;
}

#logo {
    width: 100%;
    padding: 1px;
	height:80px;
}

.button {
  background-color: #591728;
  border: none;
  color: white;
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


/* MENU */

/* .menu {
    position: sticky;
    flex-wrap: wrap;
    display: flex;
} */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	/*editED, FOR THE NEEDED SPACE */
	margin-right:16px;
}
  
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #39a5db;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
  	/* ADDED */
  .menu-container{
	  margin-top:128px;
  }
.menu li:hover {
    background-color: #78bbdd;
}

/* MAIN */

.main {
  background-color: white;
  /* ADDED */
  margin-top:128px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

/* Images */

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.item {
    margin: 10px;
    float: left;
}

div.relative {
    position: relative;
    width: 175px;
    height: 175px;
} 


img.cover {
    width: 175px;
    height: 175px;
}

audio {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 100px;
    display: none;
}

img:hover + audio{
    display: inline;
}


/* FOOTER */

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 7%;
    width: 100%;
    padding: 10px;
    background-color: #666666;
    color: white;
}



/* MEDIA */

@media only screen and (min-width: 600px) {
    /* For tablets: */

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    
}